* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: DepotNew;
}


@font-face {
    font-family: 'DepotNew';
    src: url('./font/DepotNew-Medium.ttf');
    src: url('./font/DepotNew-Bold.ttf');
    src: url('./font/DepotNew-Regular.ttf');
}

/* navigation bar starts */
.navbar {
    box-shadow: 2px 0px 5px grey;
    z-index: 20;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    margin-left: 40px;
}

.navbar-brand img {
    width: 250px;
}

.nav-font-size {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;

}

.registration-btn {
    background-color: #70B8DE;
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 10px;
    border-radius: 5px;
}

.registration-btn:hover {
    color: white;
    text-decoration: none;
    background-color: #29113C;
}

/* navigation bar starts ends */

/* header contents starts */

.header-contents {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header-contents video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.netnex-logo {
    vertical-align: middle;
    margin: auto;
    /* padding-top: 40vh; */
}

.netnex-logo img {
    width: 100%;
    max-width: 500px;
    min-width: 280px;
}

.register-btn {
    padding: 10px;
    background-color: #327374;
    color: white;
    border-radius: 20px;
    font-size: 14px;
}

@font-face {
    font-family: 'Advanced Dot Digital-7 Regular';
    src: url('./font/advanced_dot_digital-7.ttf');
}

.header-contents .titles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 70%;
    min-width: 260px;
    margin: auto;
    padding-top: 30vh;
    font-family: 'Advanced Dot Digital-7 Regular';
    z-index: 3;
    /* background-color: rgba(0, 0, 0, 0.461); */
}

.header-contents .date-time {
    width: 200px;
    padding: 10px 0px;
    border: 1px solid #327374;
    margin: 0px 20px;
    font-size: 12px;
    border-radius: 10px;
}

.header-contents i {
    color: #3B96FC;
}

.header-contents .timer {
    font-family: 'Advanced Dot Digital-7 Regular';
    src: url('./font/advanced_dot_digital-7.ttf');
    line-height: 35px;
}

.header-contents .big-text {
    font-size: 20px;
    font-family: 'Advanced Dot Digital-7 Regular';
    src: url('./font/advanced_dot_digital-7.ttf');
}



/* header contents ends */

/* About Section Starts */
.about-section {
    /* height: 85vh; */
    background-color: #F8F8F8;
    /* padding: 40px 0px 0px; */
}

.about-section .bg-img {
    position: relative;
    width: 100%;
    margin: auto;
}

.about-section .bg-img img {
    /* margin-top: 12vh; */
    margin: 60px 0px;
}

.about-section .contents {
    position: absolute;
    top: 0%;
    right: 0px;
    left: 0px;
    width: 80%;
    margin: auto;
    background-color: white;
    line-height: 22px;
    color: #505050;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 28px #00000029;
}

.about-section .contents h2 {
    font-weight: 700;
}

.about-section .contents p {
    font-size: 16px;
}

/* why attend Section ends */


/* topics-section */
.topics-section {
    width: 100%;
    padding: 40px 0px;
    /* height: 100vh; */
    background: url(./images/topics-bg-img.png) no-repeat center/cover;
    background-color: #1c6364;
}

.topics-section .container {
    margin: auto !important;
}

.topics-section h1 {
    color: white;
}

.topics-section p {
    color: white;
    padding: 10px 0px;
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
}

/* topics-section ends */

/* why-attend-section starts*/

.why-attend-section {
    padding: 40px 0px;
    background-color: #F8F8F8;
}

.why-attend-section .container {
    box-shadow: 0px 3px 16px #00000029;
    padding: 30px 20px;
    background-color: white;
    border-radius: 20px;
}

.why-attend-section .container h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
}

.why-attend-section .container .row {
    height: 40vh;
    width: 100%;
}

.why-attend-section h3 {
    font-size: 20px;
    font-weight: 600;
}

.why-attend-section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.why-attend-section .div1 {
    width: 100%;
    max-width: 320px;
    min-width: 200px;
    margin: 0px !important;
}

/* why-attend-section ends */

/* who-attends-section starts */

.who-attends-section {
    padding: 50px 0px;
    background: url(./images/topics-bg-img.png) no-repeat center/ cover;
    background-color: #1c6364;

}

.who-attends-section .container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 20px;
}

.who-attends-section .container h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
}

.who-attends-section .nav-link {
    color: black;
}

.who-attends-section .nav-link.active {
    background-color: #E8E8E8;
}

content>.active {
    background-color: #E8E8E8 !important;
}

/* who-attends-section ends */

/* speakers-section starts */

.speakers-section {
    padding: 50px 0px;
    background-color: #F8F8F8;
}


.speakers-section .container {
    box-shadow: 0px 3px 29px #00000029;
    border-radius: 20px;
    padding: 20px;
}

.speakers-section .container h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
}

.speakers-section .container .cards {
    /* position: relative; */
    width: 100%;
    max-width: 260px;
    min-width: 180px;
    height: 300px;
    background: linear-gradient(#599AFB, #70B8DE 30%, #1d3548 30%, #1d3548);
    margin: 10px auto;
    border-radius: 20px;
    overflow: hidden;
}

.speakers-section .container .cards .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    /* z-index: 10; */
    border-radius: 20px;
    overflow: hidden;
    transform-origin: top;
}

.speakers-section .container .cards:hover .imgBx {
    transform: translateY(30px) scale(0.5);
    opacity: .5;
}

.speakers-section .container .cards .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speakers-section .container .cards .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}

.speakers-section .container .cards:hover .content {
    transform: translateY(0);
}

.speakers-section .container .cards .content .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.speakers-section .container .cards .content .details h2 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

.speakers-section .container .cards .content .details h2 span {
    font-size: 0.8em;
    font-weight: 400;
    color: #9ddcf9;
}

.speakers-section .social_icons {
    position: relative;
    display: flex;
    margin-top: 5px;
}

.speakers-section .social_icons li {
    list-style: none;
    margin: 4px;
}

.speakers-section .social_icons li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #294d69;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.speakers-section .social_icons li a:hover {
    transform: rotate(360deg);
    background: #70B8DE;
}

/* speakers-section ends */

/* partners-section starts */

.partners-section {
    padding: 50px 0px;
    background: url(./images/topics-bg-img.png) no-repeat center/cover;
    background-color: #1c6364;
}

.partners-section .container {
    box-shadow: 0px 3px 29px #00000029;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.partners-section .container h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
}

.partners-section .container h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    padding: 0px 30px;
    color: #296465;
    border-right: 5px solid #296465;
}

.partners-section .container p {
    font-size: 16px;
    line-height: 19px;
}

/* partners-section ends */

/* contact section starts */

.contact-section {
    padding: 50px 0px;
    background-color: #F8F8F8;
}

.contact-section .container {
    box-shadow: 0px 3px 98px #00000029;
    border-radius: 20px;
    padding: 20px;
}

.contact-section .container .div1 {
    text-align: center;
}

.contact-section .container .div1 .seets span {
    font-size: 50px;
    font-weight: 900;
    color: #327374;
    background-color: #EAEAEA;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
}

/* div2 */

.contact-section .form {
    position: relative;
    background-color: #EFEFEF !important;
    color: white;
    margin-bottom: 30px;
    padding: 15px;
    padding-top: 20px;
    width: 100%;
    max-width: 900px;
    min-width: 290px;
    margin: auto;
}

.contact-section .form-buttons {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    margin: auto;
}

.contact-section .form-row {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-section form label {
    color: black;
    margin-bottom: 0px !important;
}

.contact-section #contact .active {
    background-color: #327374 !important;
    color: black !important;
}

.contact-section .nav-pills .nav-link {
    color: black !important;
}

.contact-section .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #327374;
}

.contact-section .form-control {
    border: 1px solid #EFEFEF;
    border-bottom: 1px solid black !important;
    margin: auto;
}

.contact-section .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #EFEFEF;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact-section .submit-btn {
    background-color: #327374;
    color: white;
    padding: 10px 30px 10px 30px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: .8s all;
}

/* contact section starts */

/* footer */
.footer-section {


    position: relative;
}

.footer-section .footer-row-div1 {
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-section ul li {
    list-style-type: none;
}

.footer-logo {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.footer-section hr {
    width: 100%;
    height: .1px;
    background-color: #707070;
    margin: 0px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}

/* media query */

@media (max-width:429px) {

    /* navs */
    .nav-container {
        padding-bottom: 10px;
    }

    .about-section {
        padding: 0px 0px 50px;
    }

    .about-section .bg-img {
        /* position: absolute; */
      
        /* width: 100%;
        height: 100vh; */
        margin: auto;
    }
    .about-section .bg-img img {
        margin: 0px 0px;
    }

    .about-section .contents {
        position: relative;
        /* top: 0%; */
        /* right: 0px; */
        /* left: 0px; */
        width: 100%;
        /* height: 100%; */
        margin: auto;
        background-color: white;
        line-height: 22px;
        color: #505050;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 3px 28px #00000029;
    }

    .about-section .bg-img img {
        margin-top: 0;
    }

    /* why-attend section */
    .why-attend-section .container .row {
        height: 100%;
        width: 100%;
    }
}

@media (min-width:429px) and (max-width: 900px) {

    /* header */
    .header-contents .titles {
        height: 85vh;
    }

    .about-section {
        /* height: 70vh; */
        padding: 0px;
    }

    .about-section .bg-img {
        /* position: absolute; */
        /* width: 100%; */
        margin: auto;
    }
    .about-section .bg-img img {
        margin: 0px 0px;
    }

    .about-section .contents {
        position: relative;
        /* top: 0%; */
        /* right: 0px; */
        /* left: 0px; */
        width: 100%;
        margin: auto;
        background-color: white;
        line-height: 22px;
        color: #505050;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 3px 28px #00000029;
    }

    .about-section .bg-img img {
        margin-top: 0;
    }

    /* why-attend section */
    .why-attend-section .container .row {
        height: 100%;
        width: 100%;
    }

    /* speakers */
    .speakers-section .container .cards {

        width: 100%;
        max-width: 235px;
        min-width: 165px;
        height: 250px;
        background: linear-gradient(#599AFB, #70B8DE 30%, #1d3548 30%, #1d3548);
        margin: 10px auto;
        border-radius: 20px;
        overflow: hidden;
    }

    /* partners section */
    .partners-section .container h5{
        font-size: 15px;
        font-weight: 600;
        line-height: 25px;
        padding: 0px 30px;
        color: #296465;
        border-right: 5px solid #296465;
    }
}
